*/**/__pycache__
*/**/*.pyc
*/**/*~
*~

luna16/

\.idea/

luna16_small/

orig_imgs/

work/

working_imgs/

*.pyc

*.zip

luna16_1mm/normalized_ct_images/

luna16_1mm/normalized_lung_masks/

luna16_2mm/normalized_ct_images/

luna16_2mm/normalized_lung_masks/

luna16_1mm_partial/normalized_lung_masks/

luna16_1mm_partial/normalized_ct_images/

luna16_1mm_xyz/normalized_ct_images/

luna16_1mm_xyz/normalized_lung_masks/

working_imgs_1mm/

working_imgs_1mm_xyz/

working_imgs_1mm_xyz_smooth/

*.log

working_imgs_2mm/
