*/**/__pycache__
*/**/*.pyc
*/**/*~
*~

luna16/

\.idea/

luna16_small/

orig_imgs/

work/

working_imgs/

*.pyc

*.zip

luna16_1mm/normalized_ct_images/

luna16_1mm/normalized_lung_masks/

luna16_2mm/normalized_ct_images/

luna16_2mm/normalized_lung_masks/
